<!--p [class]="isActive ? 'bg-info' : 'inactive'">blog works!</p-->
<!--p
  class="p-3"
  [ngClass]="{
    'bg-danger': isActive,
    'text-white': ay>10
  }"

>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, error consequatur in minus eligendi optio aperiam quibusdam illum totam doloribus amet mollitia vitae, voluptatem nesciunt itaque assumenda voluptates voluptate dicta?
</p-->

<p 
class="p-5"
[ngStyle]="{
  'background-color': isActive ? 'yellow' : 'blue',
  'font-size': str=='angular' ? '30px' : '20px'
}">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, error consequatur in minus eligendi

</p>


<div>
    <!--p class="px-5" *ngFor="let friend of friends">{{ friend }}</p-->
    <!--h2 *ngIf="isActive; else anyName">it appeares if is active equals true</h2-->
<!--div [ngSWITCH]="value"> 
    <p *ngSwitchCase="10">it appears if value equals 10</p>
    <p *ngSwitchCase="11">it appears if value equals 11</p>
    <p *ngSwitchCase="12">it appears if value equals 12</p>
    <p *ngSwitchCase="13">it appears if value equals 13</p>
    <p *ngSwitchDefault>it appears if value doesn't match any case</p>
</div-->

<!--ng Class ngStyle-->
</div>
<!--ng-template #anyName>Instead of heading element.</ng-template-->